<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<head>
  <title>Registro De Insumos</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="Recursos/headers.js" type="text/javascript"></script>
  <script src="js/Insumos/insumosBD.js" type="text/javascript"></script>
  <script src="js/Insumos/insumosReg.js" type="text/javascript"></script>
</head>

<body style="overflow-y: hidden;">
  <ul class="nav navColor justify-content-end fixed-top">
    <li class="nav-item">
      <a class="nav-link" href="ListProductos.html">LISTADO DE PRODUCTOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="RegProductos.html">REGISTRO DE PRODUCTOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="ListInsumos.html">LISTADO DE INSUMOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="RegInsumos.html">REGISTRO DE INSUMOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="inicio.html">SALIR</a>
    </li>
  </ul>
  <div class="" style="margin: 1%;">
    <br>
    <br>
    <h4>REGISTRO DE INSUMOS</h4>
    <hr>
  </div>
  <div class="responsive" style="overflow-y: auto; height: calc(100% - 150px); margin: 1%;">
    <div class="modal-body">
      <form class="">
        <div id="msg_alert_mod" class="alert alert-dark" role="alert" style="display: none;">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="ins_nomg" name="ins_g" campo="Nombre De Insumo" placeholder="Nombre De Insumo" onchange='removec(this)'>
          </div>
          <div class="form-group col-md-4">
                  <input type="number" class="form-control" id="ins_cantg" name="ins_g" campo="Cantidad mínima en inventario" placeholder="Cantidad mínima en inventario" onchange='removec(this)'>
                </div>
          <div class="form-group col-md-4">
            <select class="form-control" id="ins_unig" name="ins_g" campo="Unidad" onchange='removec(this)'>
              <option value='' selected>Seleccione Unidad</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a id="insGuardar" class="btn btn_sh btn-sm" href="javascript: validarGuardar();" role="button">Guardar</a>
      <button id="insGuardando" class="btn btn_sh btn-sm" type="button" disabled style="display:none;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Guardando...
      </button>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="modal_msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" style="font-weight: bold;">Alerta</p>
        </div>
        <div class="modal-body" id="msg">
        </div>
        <center>
          <div class="modal-footer" id="btns">
          </div>
        </center>
      </div>
    </div>
  </div>
</body>
